# EditorConfig file: https://editorconfig.org

root = true

[*.{c,h,cxx,F,F90,py,yaml,yml,json,md}]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space

[*.{c,h,cxx,F,F90,yaml,yml,json,md}]
indent_size = 2

[*.{py}]
indent_size = 4

[*.{c,h,cxx,F,F90,py,yaml,yml,json}]
trim_trailing_whitespace = true

[*.{md}]
trim_trailing_whitespace = false