# Non-Source directories
/src/docs/generated

# FORTRAN compile objects
*.o
*.a
*.mod

# Python artifacts
*.pyc
__pycache__

# Editor Items
.settings
.cproject
.project
.pydevproject
.vscode

# Build/environment artifacts
/builds/
/oft_venv/
/compiler_id.txt
/setup_env.sh
